tls:
  certificates:
    - certFile: /certs/gitkc.crt
      keyFile: /certs/gitkc.key
  stores:
    default:
      defaultCertificate:
        certFile: /certs/gitkc.crt
        keyFile: /certs/gitkc.key
