services:
  vault:
    image: hashicorp/vault:1.18
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200"
      VAULT_API_ADDR: "http://0.0.0.0:8200"
      VAULT_CLUSTER_ADDR: "http://0.0.0.0:8201"
    cap_add:
      - IPC_LOCK # empêche le swap mémoire (données sensibles)
    volumes:
      - /var/vault/config:/vault/config
      - /var/vault/data:/vault/data
      - /var/vault/logs:/vault/logs
    command: vault server -config=/vault/config/vault.hcl
    healthcheck:
      test: ["CMD", "vault", "status", "-address=http://127.0.0.1:8200"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - vault-net

volumes:
  vault-data:
    driver: local
  vault-logs:
    driver: local

networks:
  vault-net:
    driver: bridge
