# Configuration globale Ansible Ameliorée
[defaults]
#roles_path = ./roles
# Chemin vers les rôles Ansible (commenté)

# inventory = ../aws_ec2.yaml
#inventory=aws_ec2.yml
# Chemin vers le fichier d'inventaire, ici spécifié pour utiliser un inventaire AWS EC2 (commenté)

#remote_user=ubuntu
# Utilisateur par défaut pour les connexions SSH (commenté)

callbacks_enabled = timer, profile_tasks, profile_roles
# Activer les callbacks "timer", "profile_tasks" et "profile_roles" pour mesurer les performances et générer des profils

host_key_checking = False
# Désactiver la vérification des clés hôtes SSH, permettant des connexions non interactives même si les clés hôtes changent

forks = 20
# Nombre de processus parallèles à utiliser pour les tâches Ansible

#allow_world_readable_tmpfiles = true
# Autoriser les fichiers temporaires lisibles par tout le monde (commenté)

gathering = smart
# Mode de collecte des faits Ansible, ici spécifié comme "smart" pour améliorer les performances (commenté)

stdout_callback = default
result_format = yaml
# Output plus lisible que le callback par défaut

interpreter_python = auto_silent
# Détection automatique de Python sans afficher le warning au lancement

retry_files_enabled = False
# Désactive la création des fichiers .retry inutiles en lab

[ssh_connection]
ssh_args=-o ControlMaster=auto -o ControlPersist=600s
# Arguments SSH pour activer le multiplexage de connexions, avec une persistance de 600 secondes

#PreferredAuthentications=publickey
# Méthode d'authentification préférée, spécifiée comme clé publique (commenté)

pipelining = true
# Activer le pipelining pour réduire le nombre de connexions SSH nécessaires, améliorant les performances

control_path = /tmp/ansible-ssh-%%h-%%p-%%r
# Chemin explicite pour les sockets SSH, évite les conflits sur certains OS
